div.navbar(data-module="navbar")
  ul.nav-list
    li.nav-item.selected
      a(href="/")
        span.icon.icon-home
        h5 市场首页
    li.nav-item
      a(href="#")
        span.icon.icon-live
        h5 直播
    li.nav-item
      a(href="#")
        span.icon.icon-video
        h5 视频
    li.nav-item
      a(href="#")
        span.icon.icon-tool
        h5 工具
    li.nav-item
      a(href="#")
        span.icon.icon-mic
        h5 音乐K歌
    li.nav-item
      a(href="#")
        span.icon.icon-game
        h5 游戏
    li.nav-item
      a(href="#")
        span.icon.icon-life
        h5 生活
    li.nav-item
      a(href="#")
        span.icon.icon-edu
        h5 教育
    li.nav-item
      a(href="#")
        span.icon.icon-bbs
        h5 论坛