.rank
  display:block
  width:$baseWidth
  margin:20px auto 0
  .title
    margin:0 0 10px
    // color:$thirdColor
    line-height:1
    padding-left:5px
    position:relative
    font-size:1.2em
    .category
      position:absolute
      right:0
      bottom:0
    .icon-rank
      color:darken($thirdColor,20%)
      padding-right:6px
  .wrapper
    background:darken($bodyBackground,3%)
    padding:15px 0px