.hot
  display:block
  width:$baseWidth
  margin:$baseSpacing auto
  .hot-list
    position:relative
    height:270px
    overflow:hidden
    .hot-item
      width:480px
      overflow:hidden
      display:inline-block
      position:absolute
      border-radius(5px)
      &.left
        left:0
      &.right
        right:0