div.hot(data-module="hot")
  ul.hot-list
    li.hot-item.left
      img(src="http://data.znds.com/attachment/forum/201408/15/172940tn5c7dqtqpjx7b9n.png")
    li.hot-item.right
      img(src="http://data.znds.com/attachment/block/85/853b00aa0d2a9dafefb8ba14e99a0cf6.jpg")