extends layouts/layout
block append head
  title 电视家
  if __env.NODE_ENV === 'production'
    link(type="text/css",rel="stylesheet",href="/css/index.min.css")
  else
    link(type="text/css",rel="stylesheet",href="/css/index.css")

block append main
  span 主内容

block append footer
  if __env.NODE_ENV === 'production'
    script(type='text/javascript',src="/js/index.min.js")
  else
    script(type='text/javascript',src="/js/index/main.js")