extends layouts/layout
block append head
  title 电视家1111

block append main
  span 主内容
block append footer
  if __env.NODE_ENV === 'production'
    script(type='text/javascript',src=staticBase + "js/index.min.js")
  else
    script(type='text/javascript',src=staticBase + "js/index/main.js")