.screenshot
  display:block
  width:$baseWidth
  margin:20px auto 0
  height:177px
  overflow:hidden
  .screenhotlist
    width:$baseWidth+19
    img
      width:314px
      margin-right:19px
      &.last
        margin-right:0