a
  color:$linkColor
  text-decoration:none
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  &:focus
    outline: 0
    color:$linkColorHover
  &:hover
    outline: 0
    color:$linkColorHover
.clearfix::after
  content:'.'
  height:0
  overflow:hidden
  display:block
  clear:both