include version
script
  | var staticBase = "
  = staticBase
  | ";
meta(charset="utf-8")
meta(name="viewport",content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no")
meta(property="qc:admins",content="2354327001730105167636")
if __env.NODE_ENV === 'production' || __env.NODE_ENV === 'test'
  script(type='text/javascript',src=staticBase + "js/common.min.js")
else
  script(type='text/javascript',src=staticBase + "js/common/main.js")
script(type='text/javascript',src=staticBase + "externals/jade/runtime.js")
link(rel='stylesheet', href='http://demo.open.weixin.qq.com/jssdk/css/style.css')
script.
  var pageInfo = {};
script
  | pageInfo.env = '
  = __env.NODE_ENV
  | ';