div.head(data-module="head")
  div.wrapper
    div.logo
      img(src="http://www.tvapk.net/template/comeing_st4/comeing/logo.png")
    div.tool-bar
      div.search-bar
        input(placeholder="搜索")
    include ../navbar/index