.head
  display:block
  background:$themeBackground
  .wrapper
    width:$baseWidth
    margin:0 auto
    position:relative
    .logo
      position:absolute
      left:0
      top:1.3em
    .tool-bar