.history
  display:block
  width:$baseWidth
  margin:20px auto 0
  .title
    margin:0 0 10px
    // color:$thirdColor
    line-height:1
    padding-left:5px
    font-size:1.2em
    .icon-history
      color:darken($thirdColor,20%)
  .wrapper
    background:darken($bodyBackground,3%)
    .history-list
      width:260px
      display:inline-block
      vertical-align:top
      padding:15px 0
      .history-item
        margin-right:19px
        padding-left:120px