.appinfo
  display:block
  width:$baseWidth
  margin:20px auto 0
  position:relative
  background:darken($bodyBackground,3%)
  .left
    text-align:center
    width:150px
    background:$bodyBackground
    padding-right:20px
    .btn-download
      margin-top:10px
      width:110px
  .right
    position:absolute
    left:170px
    top:0
    padding:15px
    .rate
      position:absolute
      top:15px
      right:15px
      color:$rateColor
      .ratewidth
        overflow:hidden
        position:absolute
        .score
          width:95px
    h1
      color:$thirdColor
      font-size:1.5em
      padding-bottom:10px
      width:780px
    p
      font-size:.9em
      color:lighten($textColor,50%)
      padding:2px 0
      span
        margin-right:2em
        strong
          color:lighten($textColor,20%)
    .desc
      padding-top:10px