.applist
  display:block
  width:$baseWidth
  margin:0 auto
  overflow:hidden
  h2
    font-size:1.5em
  .app-list
    width:$baseWidth+20
    .app-item
      position:relative
      height:124px
      background:rgb(180,170,145)
      display:inline-block
      width:314px
      color:$grayLighter
      margin-right:19px
      margin-top:10px
      &.last
        margin-right:0
      .logo
        display:inline-block
        position:absolute
        top:10px
        left:20px
      h3
        display:inline-block
        position:absolute
        top:10px
        left:110px
        a
          color:$grayLighter
          transition(color .2s ease-out)
          &:hover
            color:lighten($themeColor,50%)
      .rate
        position:absolute
        top:40px
        left:110px
        font-size:.5em
        color:$rateColor
      .version
        position:absolute
        top:60px
        left:110px
        font-size:.5em
        color:darken($grayLighter,10%)
      .info
        position:absolute
        padding:8px 0
        bottom:0
        width:100%
        background:rgba(#333,.6)
        .date
          color:darken($grayLighter,10%)
          font-family:$numFontFamily
          margin-left:10px
        .icon-download
          position:absolute
          right:10px
          font-size:1.5em
          line-height:1
          vertical-align:middle
          color:darken($grayLighter,10%)
    .app-small-item
      text-align:center
      width:122px
      display:inline-block
      h3
        font-size:.9em
        color:lighten($textColor,20%)
        font-weight:normal
      .rate
        font-size:.5em
        color:$rateColor